<section id="blog-overview" class="blog">
    <div class="maxed">
        <div class="grid-x">
            <h1 class="small-12 cell section-title">Latest blog articles...</h1>
            <div class="small-12 cell">
                <div class="grid-x">

                    {% for post in site.posts | limit: 5 %}
                    <article class="small-12 cell entry" title="{{ post.title }}">
                        <a href="{{site.baseurl}}{{post.url}}" tabindex="0">
                            <div class="grid-x">
                                <h2 class="small-12 cell title">{{ post.title
                                    }}</h2>
                                <p class="small-12 cell excerpt">{{ post.excerpt }}</p>

                            </div>
                        </a>
                    </article>
                    {% endfor %}


                    <div class="small-12 call-to-action">
                        <p><small>Only the 5 latest articles are shown here.</small></p>
                        <a href="{{site.baseurl}}/blog">View all articles <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>