<section class="conclusion" title="" tabindex="0">
    <div class="maxed">
        <div class="grid-x">
            <div class="small-12 cell">
                <div class="text-container">
                    <p class="next-move">It's time for the next move</p>
                    <h2 class="section-title">Ready? Let's go!</h2>
                </div>

                <div class="__vue-root" id="FancyButton"
                     data-link="/contact"
                     data-title="Contact me today"/>
            </div>
        </div>
    </div>
</section>