<section class="services" title="Services Ricardo could offer you" tabindex="0">
    <div class="grid-x">
                <div class="small-12 large-offset-1 large-10 cell">
                    <h2 class="section-title text-center">Things I could help you with</h2>
                    <div class="grid-x cards">
                        <div class="small-12 medium-6 large-3 cell card">
                          <div class="__vue-root" data-title="Visual Design" data-icon="fa-eye" data-caption="I love to create astonishing visuals that no one has ever seen before." id="Service"></div>
                        </div>

                        <div class="small-12 medium-6 large-3 cell card">
                            <div class="__vue-root" data-title="Interaction Design" data-icon="fa-mouse-pointer" data-caption="Helping users reach their goals, in an elegant, effective &amp; satisfying way." id="Service"></div>
                        </div>

                        <div class="small-12 medium-6 large-3 cell card">
                          <div class="__vue-root" data-title="Web Development" data-icon="fa-code" data-caption="It's the art of transforming a visual design into working code." id="Service"></div>
                        </div>

                        <div class="small-12 medium-6 large-3 cell card">
                          <div class="__vue-root" data-title="Filming &amp; Photography" data-icon="fa-film" data-caption="I create movies and photographs as part of my professional hobby." id="Service"></div>
                        </div>
                    </div>
                </div>
            </div>
</section>