<section class="splitter" title="" tabindex="0">
    <div class="maxed">
        <div class="grid-x">
            <div class="show-for-large large-6 cell picture">
                <span class="show-for-sr">On the left, there is a</span>
                <img src="{{site.baseurl}}/assets/img/home/computer.png"
                     alt="Picture of a computer showing design and development">
            </div>
            <div class="small-12 medium-12 large-6 cell">
                <div class="text-container">
                    <h2 class="section-title">Pleasant, User-Centered Web Apps<br/>that makes visible difference.</h2>
                    <span class="design-process">Design &bullet; Prototype &bullet; Test &bullet; Enhance &bullet; Build &bullet; Deliver</span>
                    <p>I design and develop web-based applications empowering users to achieve their goals in an easy,
                        effective and pleasant way. I design according to the Design Thinking method, keeping users
                        closely
                        involved during the design process.</p>
                    <p>During development, I follow the principles of Atomic Design and use the latest web technologies
                        available. such as Vue.js, Angular and React.</p>
                </div>
            </div>
        </div>
    </div>
</section>