<section class="splitter" title="" tabindex="0">
    <div class="maxed">
        <div class="grid-x">
            <div class="small-6 cell picture">
                <img src="https://picsum.photos/900/500" alt="">
            </div>
            <div class="small-6 cell">
                <div class="text-container">
                    <h2 class="section-title">Pleasant, User-Centered Web Apps<br/>that make a visible difference.</h2>
                    <span class="design-process">Design &bullet; Prototype &bullet; Test &bullet; Enhance &bullet; Build &bullet; Deliver</span>
                    <pI design and develop web-based applications empowering users to achieve their goals in an easy,
                        effective and pleasant way. I design according to the Design Thinking method, keeping users closely
                        involved during the design process.</p>
                    <p>During development, I follow the principles of Atomic Design and use the latest web technologies
                        available. such as Vue.js, Angular and React.</p>
                </div>
            </div>
        </div>
    </div>
</section>