<section class="success-stories" tabindex="0">
    <div class="maxed">
        <div class="grid-x">
            <div class="small-12 cell text-container text-center">
                <h1 class="section-title">Success Stories</h1>
                <h2 class="text-uppercase">What others say about my work</h2>
                <div class="grid-x">
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Dirk Goossens"
                             data-position="Former employer at Sollicity"
                             data-avatar="/assets/img/home/succes-stories/dirk.jpg"
                             data-caption="Ricardo takes pride in his profession. He knows a lot of it and has a great ambition to always learn more. He is upbeat and sociale and I very much appreciated his time with Sollicity."
                             id="SuccessStory"></div>
                    </div>
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Mark van Eijk"
                             data-position="Former employer at Vormkracht10"
                             data-avatar="/assets/img/home/succes-stories/empty.png"
                             data-caption="I haven't received a recommendation from Mark yet, but I'm working on it and I'm sure to ask for one when I talk to him."
                             id="SuccessStory"></div>
                    </div>
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Niels de Bont"
                             data-position="Assistant during freelance assignment"
                             data-avatar="/assets/img/home/succes-stories/niels.png"
                             data-caption="Ricardo and I made an impressive business movie during the summer of 2016. Ricardo works in a structured and considerate way, which made us able to reach our goals in a short time. It was a pleasure working with him."
                             id="SuccessStory"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
