<section class="success-stories" tabindex="0">
    <div class="maxed">
        <div class="grid-x">
            <div class="small-12 cell text-container text-center">
                <h1 class="section-title">Success Stories</h1>
                <h2 class="text-uppercase">What others say about my work</h2>
                <div class="grid-x">
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Dirk Goossens"
                             data-position="Former employer at Sollicity"
                             data-avatar="/assets/img/home/dirk.jpg"
                             data-caption="Ricardo takes pride in his profession. He knows a lot of it and has a great ambition to always learn more. He is upbeat and sociale and I very much appreciated his time with Sollicity."
                             id="SuccessStory"></div>
                    </div>
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Mark van Eijk"
                             data-position="Former employer at Vormkracht10"
                             data-avatar="/assets/img/home/empty-avatar.png"
                             data-caption="Donec id dui tellus. Duis pretium nisl eget luctus porta. Vestibulum sagittis ex tincidunt mattis molestie. Proin eget luctus lectus. Integer sodales, nunc sollicitudin placerat tincidunt, nisl odio finibus nisi, volutpat elementum ex quam id erat."
                             id="SuccessStory"></div>
                    </div>
                    <div class="small-12 large-4 cell card">
                        <div class="__vue-root"
                             data-client="Niels de Bont"
                             data-position="Assistant during freelance assignment"
                             data-avatar="/assets/img/home/empty-avatar.png"
                             data-caption="Donec id dui tellus. Duis pretium nisl eget luctus porta. Vestibulum sagittis ex tincidunt mattis molestie. Proin eget luctus lectus. Integer sodales, nunc sollicitudin placerat tincidunt, nisl odio finibus nisi, volutpat elementum ex quam id erat."
                             id="SuccessStory"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>