<!------------------------------------------------------------------------------------------------------------->
<!--   Hey, inspecting the code of my website?                                                               -->
<!--   You are probably a (software) developer as well...                                                    -->
<!--   or just curious how this website was made.                                                            -->
<!------------------------------------------------------------------------------------------------------------->
<!--   Did you know that the source code of this website is available on GitHub?  (GNU GPLv3 License)        -->
<!--   -------------------------------------------------                                                     -->
<!--   https://github.com/ellipticcurv3/personal-website                                                     -->
<!--   -------------------------------------------------                                                     -->
<!------------------------------------------------------------------------------------------------------------->
<!--   I'd love to hear from you. - Ricardo.                                                                 -->
<!------------------------------------------------------------------------------------------------------------->