{% if page.collection %}

{% include imagePath.html %}
{% if page.image %}
{% capture json-image %}{{ featuredImageLocation }}/{{ page.image }}{% endcapture %}
{% else %}
{% capture json-image-avatar %}{{ site.baseurl }}/{{ site.avatar }}{% endcapture %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
"headline": {{ page.title | jsonify }},
"keywords": {{ page.tags | join: ',' | jsonify }},
"description": {{ page.excerpt | strip_newlines | strip | jsonify }},
"articleBody": {{ page.content | strip_html | jsonify }},
"datePublished": {{ page.date | jsonify }},
"dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
"author": {
"@type": "Person",
"name": {{ site.author | jsonify }},
"givenName": {{ site.author_first_name | jsonify }},
"familyName": {{ site.author_last_name | jsonify }},
"email": {{ site.email | jsonify }}
},
"publisher": {
"@type": "Organization",
"name": {{ site.name | jsonify }},
"url": "{{ site.url }}",
"logo": {
"@type": "ImageObject",
"width": 32,
"height": 32,
"url": "{{ site.url }}/favicon.ico"
}
},
"mainEntityOfPage": {
"@type": "WebPage",
"@id": "{{ site.url }}{{ page.url }}"
},
"image": {
"@type": "ImageObject",
"url": "{{ site.url }}{{ json-image | default: json-image-avatar }}"
}
}
</script>
{% endif %}