@import '../../styles/global/variables'

.maxed
  margin 0 auto
  max-width 1600px

.content-padding
  padding-right 1em
  padding-left 1em

.home-hero
  @media screen and (max-width 639px)
    margin-bottom 2rem

p
  margin 0.5em 0