.category-filter
  display flex
  flex-direction row
  flex-wrap wrap
  margin 1rem auto
  padding 0 1.15em
  color #666
  font-weight 600
  font-size .9em
  line-height .9em

  span
    margin-right .5em
    cursor default

.option
  position relative
  display block
  margin 0 .5em 1em .33em
  padding-left 20px
  cursor pointer
  cursor pointer
  user-select none

  input
    position absolute
    width 0
    height 0
    opacity 0
    cursor pointer

    &:checked
      & ~ .checkmark
        background-color #2196F3

        &:after
          display block

  &:hover
    input
      & ~ .checkmark
        // background-color #ccc

  .checkmark
    &:after
      top 3px
      left 3px
      width 4px
      height 4px
      border-radius 50%
      background white

.checkmark
  position absolute
  top 0
  left 0
  width 10px
  height 10px
  border-radius 50%
  background-color #eee

  &:after
    position absolute
    display none
    content ''

@media screen and (prefers-color-scheme dark)
  .option
    .checkmark
      background-color #252525

    input
      &:checked ~ .checkmark
        background-color #666