.breadcrumbs
  margin 0
  list-style none
  text-transform uppercase
  font-size 0.8em

  a
    font-size inherit

    &:last-of-type
      color #000

      @media screen and (prefers-color-scheme dark)
        color #bcbcbc

    &:not(:last-of-type):after
      display inline-block
      padding 0 0.25em
      color #444
      content '\2013'