<footer class="footer" tabindex="0">
    <div class="grid-x">

        <div class="small-12 cell links">
                <a href="{{site.baseurl}}/privacy">Privacy</a>
                <a href="{{site.baseurl}}/about">About</a>
                <a href="{{site.baseurl}}/contact">Contact</a>
                {% if site.onion %}<a href="{{site.onion}}">Tor</a>{% endif %}
        </div>

        <div class="small-12 cell">
            <div class="footer-message">
                <span>
                    <i class="show-for-sr">This website was </i>
                    Made with
                       <i class="fas fa-heart" aria-hidden="true"></i>
                       <i class="show-for-sr">love</i>
                       , a lot of
                       <i class="fas fa-mug-hot" aria-hidden="true"></i>
                       <i class="show-for-sr">coffee</i>
                        and some
                       <i class="fas fa-code" aria-hidden="true"></i>
                       <i class="show-for-sr">code</i>
                        by Ricardo Balk
                </span>
                <span>Design available on <a href="https://behance.net/{{site.social.behance}}" target="_blank"><i class="fab fa-behance"></i></a></span>
                <span>Source code available on <a href="https://github.com/{{site.social.github}}/www" target="_blank"><i class="fab fa-github"></i></a> under the GPLv3 License</span>
            </div>
        </div>
    </div>
</footer>