<head>
{% if page.date %}<!-- Page date: {{ page.date }} -->{% endif %}
<!-- Site built: {{ site.time }} -->
{% include meta.html %}

<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>

<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"/>

{% include site/scripts/head-top.html %}

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/webpack/foundation/bundle.css"/>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css"/>
{% if site.darkmode %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main-dark.css"/>{% endif %}
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/webpack/vue/bundle.css"/>

{% if page.stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/{{ page.stylesheet }}.css"/>
  {% if site.darkmode %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/{{ page.stylesheet }}-dark.css"/>{% endif %}
{% endif %}

{% if page.collection %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/blog/post.css"/>
  {% if site.darkmode %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/blog/post-dark.css"/>{% endif %}
{% include post-ld.html %}
{% endif %}

{% include site/scripts/head-bottom.html %}
</head>