<header class="site-header">
    <div class="grid-x">
        <div class="large-12 cell">
            <div class="contact">
                <div class="grid-x grid-padding-x">
                    <div class="small-8 cell">
                        <a href="mailto:ricardo@ricardobalk.nl" class="em"><i class="fa fas fa-envelope"></i> ricardo&commat;ricardobalk.nl</a>
                    </div>
                    <div class="small-4 cell">
                        <div class="fr">
                            <a href="https://behance.net/{{site.social.behance}}"><i class="fab fa-behance"></i></a>
                            <a href="https://github.com/{{site.social.github}}"><i class="fab fa-github"></i></a>
                            <a href="https://linkedin.com/in/{{site.social.linkedin}}"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navigation">
                <div class="grid-x grid-padding-x">
                    <div class="small-4 cell">
                        <div class="valign-center">
                            <div class="site-identity">
                                <a href="{{site.baseurl}}/" aria-hidden="true">
                                    <img src="{{site.baseurl}}/assets/img/logo.svg" width="250" height="252"
                                         alt="Logo" title="Ricardo Balk" aria-hidden="true">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="small-8 cell">
                        <div class="grid-x grid-padding-x valign-center">
                            <div class="small-12 medium-12 large-12 cell">
                                <nav type="main">
                                    <div class="fr">
                                        <a href="{{site.baseurl}}/" class="link text-center" title="Return to main page"
                                           tabindex="0">Home</a>
                                        <a href="{{site.baseurl}}/portfolio" class="link text-center"
                                           title="Projects Ricardo worked on" tabindex="0">Portfolio</a>
                                        <a href="{{site.baseurl}}/blog" class="link text-center" title="Ricardo's Blog"
                                           tabindex="0">Blog</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>