---
---

@font-face {
	font-family: 'Bebas Neue';
	src: url('./BebasNeuewebfont.eot');
	src: local('BebasNeuewebfont'), url('./BebasNeuewebfont.woff') format('woff'), url('./BebasNeuewebfont.ttf') format('truetype');
}