html
  &[lang='en']
    figure
      figcaption
        &:before
          content 'Figure: '

  &[lang='nl']
    figure
      figcaption
        &:before
          content 'Afbeelding: '

  &[lang='de']
    figure
      figcaption
        &:before
          content 'Bild: '