<footer class="footer">
    <div class="grid-x">
        <div class="large-offset-4 large-4 cell">

            <p class="text-center">
                <span class="footer-message">
                    <i class="show-for-sr">This website was </i>
                    Made with
                       <i class="fas fa-heart" aria-hidden="true"></i>
                       <i class="show-for-sr">love</i>
                       , a lot of
                       <i class="fas fa-mug-hot" aria-hidden="true"></i>
                       <i class="show-for-sr">coffee</i>
                        and some
                       <i class="fas fa-code" aria-hidden="true"></i>
                       <i class="show-for-sr">code</i>
                        by Ricardo Balk.
                </span>
            </p>

            <div class="grid-x icons">
                <div class="small-4 cell container">
                    <a href="https://mastodon.social/@ellipticcurv3"
                       data-tooltip aria-haspopup="true"
                       class="has-tip icon fab fa-mastodon"
                       title="Ricardo's profile on Mastodon, a free and open source social media platorm."
                       rel="me"></a>
                </div>

                <div class="small-4 cell container">
                    <a href="https://github.com/{{site.footer-links.github}}"
                       data-tooltip aria-haspopup="true"
                       class="has-tip icon fab fa-github"
                       title="Ricardo's profile on GitHub, a platorm for software developers."
                       rel="me"></a>
                </div>

                <div class="small-4 cell container">
                    <a href="https://keybase.io/{{site.footer-links.keybase}}"
                       data-tooltip aria-haspopup="true"
                       class="has-tip icon fab fa-keybase"
                       title="Ricardo's profile on Keybase, an end-to-end encrypted chat platorm and more."
                       rel="me"></a>
                </div>
            </div>



            <span class="links">
                <a href="{{site.baseurl}}/sitemap.xml">Sitemap</a>
                <a href="{{ site.footer-links.source }}">Source</a>
                <a href="http://{{ site.footer-links.onion }}">Tor</a>
            </span>
        </div>
    </div>
</footer>