<footer class="footer">
    <div class="grid-x">
        <div class="large-offset-4 large-4 cell">
            <div class="grid-x icons">
                <div class="small-4 cell container">
                    <a href="https://linkedin.com/in/{{site.footer-links.linkedin}}" class="icon fab fa-linkedin-in"></a>
                </div>

                <div class="small-4 cell container">
                    <a href="https://github.com/{{site.footer-links.github}}"
                       class="icon fab fa-github"></a>
                </div>

                <div class="small-4 cell container">
                    <a href="https://keybase.io/{{site.footer-links.keybase}}" class="icon fab fa-keybase"></a>
                </div>
            </div>

            <p class="text-center">&copy; {{ site.time | date: '%Y' }} Ricardo Balk &mdash; Published under the GNU GPLv3
                License. <a href="{{ site.footer-links.source }}">View source code.</a></p>
        </div>
    </div>
</footer>