
@require '@/styles/_variables'

.home-hero
  display grid
  height var(--height-hero)
  outline 0
  background-color #6bffdc
  background-image url('@/public//assets/img/site/home/winder.svg'), linear-gradient(to right, #00000022, #00000085)
  background-position right bottom -5px, left top
  background-size contain, cover
  background-repeat no-repeat
  color #fff
  text-shadow 1px 1px 5px rgba(26, 26, 26, .33)
  font-family $font-stack-text
  place-items center
  background-blend-mode normal, multiply

  @media screen and (max-width 640px)
    height calc(50vh - var(--height-site-header))

  .text-container
    display flex
    flex-direction column
    padding 0 1em

    h1, h2, h3
      margin 0
      color inherit
      text-transform uppercase
      font-family inherit

    h1
      font-weight 900
      font-size 4rem

      @media screen and (max-width 640px)
        margin-bottom .25em
        font-size 2rem

    h2
      font-weight 600
      font-size 3.5rem

      @media screen and (max-width 640px)
        margin-bottom .5rem
        font-size 1.5rem

    h3
      text-transform uppercase
      font-weight 700
      font-size .95rem

@media screen and (prefers-color-scheme dark)
  .home-hero
    background linear-gradient(to bottom, #006a3d, #000)

    .text-container
      h1, h2, h3
        color #ccc