
@require '../../../styles/_variables'

.home-hero
  height var(--height-hero)
  outline 0
  background-color var(--hero-background-color)
  background-image linear-gradient(to right, #979797, #171717), url('../../../../public/assets/img/site/home/hero.svg'), url('../../../../public/assets/img/site/home/winder.svg')
  background-position left top, -100px -100px, right bottom -5px
  background-size cover, contain, contain
  background-repeat no-repeat
  color #fff
  text-shadow 1px 1px 5px rgba(150, 150, 150, .33)
  font-family $font-stack-text
  background-blend-mode soft-light, soft-light, normal

  @media screen and (max-width 640px)
    height calc(50vh - var(--height-site-header))

  .text-container
    padding 0 1em

    h1, h2, h3
      color var(--color-white)
      text-transform uppercase
      font-family inherit

    h1
      margin-bottom 0
      font-weight 300
      font-size 2.25em

      @media screen and (max-width 640px)
        margin-bottom .25em
        font-size 2em

    h2
      margin .25em 0
      font-weight 700
      font-size 2.5em

      @media screen and (max-width 640px)
        margin-bottom .5em
        font-size 1.5em

    h3
      text-transform uppercase
      font-weight 700
      font-size .95em

      @media screen and (max-width 640px)
        font-size .95em

@media screen and (prefers-color-scheme dark)
  .home-hero
    background-image url('../../../../public/assets/img/site/home/hero.svg'), linear-gradient(to bottom, #00000073, #000) !important
    background-position -100px -100px, top
    background-size contain, contain, cover
    background-blend-mode soft-light, luminosity

    .text-container
      h1, h2, h3
        color #ccc