.success-story
  text-align center

  .inner
    margin 1em
    padding 2em
    border 1px solid #eee
    background-color #fff
    box-shadow 3px 3px 9px rgba(0, 0, 0, .05)

    .avatar-container
      margin 0 auto 1em
      width 100px
      height 100px

      .avatar
        width 100%
        border-radius 50px

@media screen and (prefers-color-scheme dark)
  .card:not(:last-child)
    border-right 1px solid #111

  .success-story
    .inner
      border none
      background-color unset
      box-shadow none
      color #8a8a8a

      .avatar-container .avatar
        opacity .85