  @require '~@theme/styles/global/variables'

  .blog-overview-container
    margin-top $navigation-bar-height /* TODO: Make this dynamic, using the height of the navbar. */
    margin-bottom 5em

  @media screen and (prefers-color-scheme dark)
    .blog-overview-container
      margin-top 0 /* TODO: Make this dynamic, using the height of the navbar. */