---
layout: default
permalink: /portfolio/
title: Portfolio
stylesheet: portfolio
---

<div class="__vue-root" id="FancyHero" data-title="Portfolio"></div>

<section class="portfolio">
    <div class="grid-x page-container">
        <div class="small-offset-1 small-10 cell">
            {% include breadcrumbs.html %}
            <header class="page-header">
                <h1>My Works</h1>
            </header>

            <div class="grid-x portfolio-items">
                <div class="small-12 medium-6 large-4 cell brick-size"></div>

                {% assign sorted = site.portfolio | sort: 'date' | reverse %}
                {% for item in sorted %}
                {% capture featured-image %}
                {% if item.image %}
                {{site.baseurl}}/assets/img/portfolio/{{ item.image }}
                {% endif %}
                {% endcapture %}
                {% assign featured-image = featured-image | strip %}

                <div class="small-12 medium-6 large-4 cell article-container">
                    <article class="item" data-category="{{item.category}}">
                        <a href="{{site.baseurl}}{{item.url}}" class="clickable">
                            <img src="{{ featured-image }}" alt="">
                            <div class="meta overlay">
                                <div class="valign-center">
                                    <p>
                                    <span class="date">
                                        <time datetime="{{ item.date }}">{{ item.date | date: "%B %-d, %Y" }}</time>
                                    </span>
                                        <span class="client">{{ item.client }}</span>
                                    </p>

                                    <h2 class="title btn ">{{ item.title }}</h2>
                                    <p class="excerpt">{{ item.excerpt }}</p>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script type="application/javascript">
    imagesLoaded(document.querySelector('.portfolio-items'), function () {
        let msnry = new Masonry(document.querySelector('.portfolio-items'), {
            itemSelector: '.article-container',
            columnWidth: '.brick-size',
            percentPosition: true
        });
    });
</script>