---
layout: default
permalink: /portfolio/
title: Portfolio
stylesheet: portfolio
---

<div class="__vue-root" id="FancyHero" data-title="Portfolio"></div>

<section class="portfolio">
    <div class="grid-x page-container">
        <div class="small-offset-1 small-10 cell">
            {% include breadcrumbs.html %}
            <header class="page-header">
                <h1>My Works</h1>
            </header>
            <div class="masonry-container">
                <div class="masonry-columns items">
                    {% assign sorted = site.portfolio | sort: 'date' | reverse %}
                    {% for item in sorted %}
                    <article class="masonry-brick item" data-category="{{item.category}}">
                        <a href="{{site.baseurl}}{{item.url}}" class="clickable">
                            <img src="{{site.baseurl}}/assets/img/portfolio/{{ item.image }}" alt="">
                            <div class="meta overlay">
                                <div class="valign-center">
                                    <p>
                                    <span class="date">
                                        <time datetime="{{ item.date }}">{{ item.date | date: "%B %-d, %Y" }}</time>
                                    </span>
                                        <span class="client">{{ item.client }}</span>
                                    </p>
                                    <h2 class="title btn ">{{ item.title }}</h2>
                                    <p class="excerpt">{{ item.excerpt }}</p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
