.keybaseUserCard
  padding 1.75rem 2rem
  width 18rem
  border 1px solid #ccc
  border-radius 2%
  text-align center
  opacity 1
  transition transform 0.5s
  transform translateX(0)

  &[v-cloak], &.loading
    opacity 0
    transform translateX(-300%)

  @media screen and (prefers-color-scheme dark)
    border 1px solid #333

  img.avatar
    display block
    margin 0 auto 0.75rem
    max-width 60%
    max-height 33%
    border-radius 50%

  .fullName
    margin 0
    font-weight 700

  .bio
    overflow hidden
    margin 0.75em 0
    max-height 10em

  .socialIcons
    display block
    margin 0.5rem 0
    font-size 1.2rem

    .socialIcon
      color #333

      @media screen and (prefers-color-scheme dark)
        color #aaa

      &:hover
        color dodgerblue

        @media screen and (prefers-color-scheme dark)
          color yellow