---
---

@import 'variables';

@media screen and (prefers-color-scheme: dark) {
  .home {
    .hero {
      background-image: url('/assets/img/hero.svg'),
        linear-gradient(to bottom, #00000073, #000) !important;
      background-blend-mode: soft-light, luminosity;
      background-size: contain, contain, cover;
      background-position: -100px -100px, top;

      .text-container {
        h1,
        h3 {
          color: #ccc;
        }

        h2 {
          color: #ccc;
        }
      }
    }

    .about {
      .polaroid-container {
        background-color: unset;
        box-shadow: none;
        border: 2px solid #112;
      }
    }

    .services {
      .cards {
        .card {
          color: #707070;

          .service {
            .inner {
              background-color: #000 !important;
              color: #707070;
              border: none;

              .icon-container {
                background: none;
                color: #cacaca;
                border: 1px solid rgba(248, 248, 248, 0.21);
                box-sizing: content-box;
                align-items: center;
                border-radius: 25%;
                margin-bottom: 1.5em;
              }
            }
          }

          &:not(:last-child) {
            border-right: 1px solid #111;
          }
        }
      }
    }

    .splitter {
      background-image: none !important;
      background-color: unset !important;

      .picture {
        filter: brightness(60%) contrast(110%);
      }

      .section-title {
        color: #bcbcbc;
      }

      .text-container {
        color: #bcbcbc;
      }
    }

    .success-stories {
      .card:not(:last-child) {
        border-right: 1px solid #111;
      }

      .success-story {
        .inner {
          .avatar-container .avatar {
            opacity: 0.85;
          }

          color: #8a8a8a;
          border: none;
          background-color: unset;
          box-shadow: none;
        }
      }
    }

    .conclusion {
      color: #bdbdbd;
      background-color: #000;
      background-image: linear-gradient(to bottom, #000, #002451);
      background-blend-mode: unset;
      padding: 0 0 6em;
      margin: 0;
    }
  }
  .footer,
  .footer .links {
    background-color: #002451;
  }
}

html[data-theme='dark'] {
}
