---
---

@import "variables";

.home {
  .maxed { max-width: 1600px; margin: 0 auto; }
  .content-padding { padding-left: 1em; padding-right: 1em; }

  .hero {
    font-family: "Muli", "Overpass", Helvetica, Arial, sans-serif;
    height: $hero-height;

    background-color:      #004293;
    background-image:      linear-gradient(to right, #979797, #171717),
                           url("/assets/img/hero.svg"),
                           url("/assets/img/winder.svg");
    background-blend-mode: soft-light,
                           soft-light,
                           normal;
    background-repeat:     no-repeat;
    background-size:       cover,
                           contain,
                           contain;
    background-position:   left top,
                           -100px -100px,
                           right bottom -5px;

    color: #fff;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.33);
    outline: 0;

    @media screen and (max-width: 640px) {
      height: calc(50vh - #{$site-header-height})
    }

    .text-container {
      padding: 0 1em;
      h1, h2, h3 { font-family: inherit; text-transform: uppercase; }
      h1 {
        font-size: 2.25em;
        font-weight: 100;
        margin-bottom: 0;
        @media screen and (max-width: 640px) { font-size: 1.25em; margin-bottom: .25em; }
      }
      h2 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: .25em;
        @media screen and (max-width: 640px) { font-size: 1.5em; margin-bottom: .5em; }
      }
      h3 {
        font-size: .95em;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 640px) { font-size: .95em; }
      }
    }
  }

  .about {
    margin: -4em 0 3em;
    outline: 0;
    color: #333;
    position: relative;

    .maxed {
      max-width: 920px;
      margin: 0 auto;
    }

    .picture {
      padding: 0 2em;
    }

    .text-container {
      margin-top: 2em;
      padding: 0 2em;
      @media screen and (min-width: 640px) {
        margin-top: 6em;
      }
    }

    h1 {
      font-size: 3.25em;
      font-weight: 300;
    }

    h2 {
      font-size: 2.25em;
      font-weight: 400;
      margin-bottom: 1.5em;
    }

    .grid-x:not(:first-of-type) {
      margin-top: 2em;
    }
  }

  .services {
    max-width: 1600px;
    margin: 2em auto;
    .section-title { font-size: 2em; padding: 0 1em; }
    .card {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      .service {
        display: flex;
        text-align: center;
        justify-self: stretch;
        .icon-container {
          color: #eee;
          background: #001037 linear-gradient(-30deg, #001037, #1e3d95);
          .icon {
            &.fa-mouse-pointer::before { padding-left: .15em; }
            &.fa-code::before { padding-right: .05em; }
          }
        }
      }
      @media screen and (max-width: 640px) { padding: 0 1em; }
    }
  }

  .splitter {
    background-color:      #004293;
    background-image:      linear-gradient(to right, #979797, #171717),
                           url("/assets/img/winder-bl.svg");
    background-blend-mode: soft-light,
                           normal;
    background-repeat:     no-repeat;
    background-size:       cover,
                           contain;
    background-position:   left top,
                           left bottom -5px;

    margin: 6em 0 0;
    padding: 3em 0;

    .picture {
      position: relative;
      top: 1em;
      img { display: block; margin: 0 auto; }
    }

    .text-container {
      color: #eee;
      padding: 0 2em;
      .section-title {
        font-size: 3.25em;
        @media screen and (max-width: 640px) {
          font-size: 2em;
        }
      }
      .design-process { display: block; font-size: .85em; font-weight: 700; margin: 1em 0;}
    }

  }

  .latest-works {
    margin-top: 4em;
    .fancy-button {
      .button {
        color: #fff;
        background: linear-gradient(30deg, rgba(0, 18, 84, 0.91), rgba(16, 32, 84, 0.79));
      }
    }
  }

  .success-stories {
    margin: 12em 0;
    padding: 0 2em;
    .card {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
    }
    .section-title { font-size: 3em; }
    .success-story {
      display: flex;
      text-align: center;
      justify-self: stretch;
      .client { font-size: 1.75em; }
      .position { font-size: .85em; font-weight: 600; color: #666; margin-bottom: 1em; }
      .caption { font-size: .9em;}
    }
  }

  .conclusion {
    color: #eee;
    background-color:      #004293;
    background-image:      linear-gradient(to right, #979797, #171717),
                           url("/assets/img/winder-top-left.svg");
    background-blend-mode: soft-light,
                           normal;
    background-repeat:     no-repeat;
    background-size:       cover,
                           contain;
    background-position:   left top,
                           left top -5px;

    margin: 5em 0 0;
    padding: 4em 0;

    .text-container {
      text-align: center;
      .next-move {
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 900;
        margin-bottom: 0;
        line-height: 1em;
        margin-top: 1em;
      }
      .section-title {
        font-size: 4em;
      }
    }
    .fancy-button {
      text-align: center;
      .button {
        color: #fff;
        background: linear-gradient(60deg, #377fea69, #377fead6);
      }
    }
  }
}
