---
---

@import "variables";

$hero-height: calc(66vh - #{$site-header-height});

.home {

  .content-padding { padding-left: 1em; padding-right: 1em; }

  .hero {
    font-family: "Muli", "Overpass", Helvetica, Arial, sans-serif;
    height: $hero-height;

    background-color:      #004293;
    background-image:      linear-gradient(to right, #979797, #171717),
                           url("/assets/img/hero.svg"),
                           url("/assets/img/winder.svg");
    background-blend-mode: soft-light,
                           soft-light,
                           normal;
    background-repeat:     no-repeat;
    background-size:       cover,
                           contain,
                           contain;
    background-position:   left top,
                           -100px -100px,
                           right bottom -5px;

    color: #fff;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.33);
    outline: 0;

    @media screen and (max-width: 640px) {
      height: calc(50vh - #{$site-header-height})
    }

    .text-container {
      padding: 0 1em;
      h1, h2, h3 { font-family: inherit; text-transform: uppercase; }
      h1 {
        font-size: 2.25em;
        font-weight: 100;
        margin-bottom: 0;
        @media screen and (max-width: 640px) { font-size: 1.25em; margin-bottom: .25em; }
      }
      h2 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: .25em;
        @media screen and (max-width: 640px) { font-size: 1.5em; margin-bottom: .5em; }
      }
      h3 {
        font-size: .95em;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 640px) { font-size: .95em; }
      }
    }
  }
  .about {
    margin: -4em 0 3em;
    outline: 0;
    color: #333;
    position: relative;

    .maxed {
      max-width: 920px;
      margin: 0 auto;
    }

    .picture {
      padding: 0 2em;
    }

    .text-container {
      margin-top: 2em;
      padding: 0 2em;
      @media screen and (min-width: 640px) {
        margin-top: 6em;
      }
    }

    h1 {
      font-size: 3.25em;
      font-weight: 300;
    }

    h2 {
      font-size: 2.25em;
      font-weight: 400;
      margin-bottom: 1.5em;
    }

    .grid-x:not(:first-of-type) {
      margin-top: 2em;
    }
  }

  .services {
    max-width: 1600px;
    margin: 2em auto;
    .section-title { font-size: 2em; padding: 0 1em; }
    .card {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      .service {
        display: flex;
        text-align: center;
        justify-self: stretch;
        .icon-container {
          color: #eee;
          background: #001037 linear-gradient(-30deg, #001037, #1e3d95);
          .icon {
            &.fa-mouse-pointer::before { padding-left: .15em; }
            &.fa-code::before { padding-right: .05em; }
          }
        }
      }
      @media screen and (max-width: 640px) { padding: 0 1em; }
    }
  }

  .portfolio {
    color: #333;

    h1 {
      font-weight: 400;
      font-size: 1.3em;
    }

    h2 {
      color: #555;
      font-weight: 600;
    }

    .item {
      border-bottom: 1px solid #eee;
    }

    .featured-image {
      height: 100%;
    }

    .item .information {
      padding: 5em 0;
    }

    .item .client {
      display: inline-block;
      padding: 0.33em 0.75em;
      line-height: 1.5em;
      color: #fff;
      /* background-color: #1673b1; */
      background-color: #1f3049;
      margin-bottom: 1em;
    }

    .item .story {
      font-size: 1.1em;
      margin-bottom: 1em;
    }

    .small {
      @media screen and (min-width: 640px) {
        display: none;
      }
    }

    .medium {
      @media screen and (max-width: 639px) {
        display: none;
      }
    }
  }

  .quote {
    padding: 20vh 0;
    color: #333;

    h1, h2 {
      font-weight: 300;
      margin-bottom: 0.5em;
    }

    .container:before {
      content: "\f10d";
      font-family: "Font Awesome 5 Free", sans-serif;
      font-size: 2em;
      font-weight: 900; // I discovered that this is mandatory in the new release. Try to do it without this prop. ;-)
      margin-left: 0.25em;
      bottom: 0.75em;
      position: relative;
      color: #ccc;
    }

    .author {
      color: #888;

      &:before {
        color: #888;
        content: "\2014\0020";
      }
    }
  }

  .blog {
    .section-title {
      color: #555;
      font-weight: 600;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }
  }


  .blog {
    border-bottom: 1px solid #eee;
    padding: 5vh 0 15vh;

    .entry {
      border-bottom: 1px solid #eee;
      margin-bottom: 1.25em;

      .title {
        font-size: 1.35em;
        font-weight: 400;
        color: #333;
      }

      .excerpt {
        color: #000;
      }

      &:hover {
        .title {
          color: #1779ba;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

    }

    .call-to-action {
      margin: 1em 0;
    }

  }

  .shout {
    color: #222;
    padding: 10vh 0;

    h1 {
      font-weight: 400;
    }

    h2 {
      font-family: "Overpass Light", "Arial", "Helvetica", sans-serif;
    }
  }

  .map {
    .actualmap {
      height: 500px;
      overflow: hidden;

      .mapouter {
        text-align: right;
        height: 500px;
        width: 100%;
      }

      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 100%;
        filter: grayscale(100%) contrast(110%);
      }

      &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 500px;
        background: #444; /* You could give the map an accent color */
        mix-blend-mode: overlay;
        position: relative;
        bottom: 500px;
        z-index: 10;
        overflow: hidden;
      }
    }
  }
}
