---
---

@import "variables";
@import "fonts";
@import "highlights";

html { width: 100vw; }

body {
  background-color: transparent;
  height: 100vh;
  overflow: hidden scroll;
  scroll-behavior: smooth;
}

code {
  padding: 0;
  border: unset;
  background-color: unset;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #333;
}

.grid-container {
  max-width: 100%;
  padding: 0;
}

.limited-width {
  max-width: 1920px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.valign-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.button {
  border-radius: 15px;
  font-weight: 400;
  -webkit-transition: background 0.1s;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;

  i {
    margin-left: 0.5em;
    line-height: 1em;
    vertical-align: middle;
    color: #666;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #f8f8f8;
    color: #111;
  }
}

.site-header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  & ~ *  { position: relative; top: $site-header-height; }

  .fr { float: right; a { padding: 0 .25em } }
  .contact {
    color: #fff;
    background: #000;
    font-size: .7em;
    padding: .25em 0;
    vertical-align: middle;
    a { color: inherit; font-weight: 500; }
    i.fa, i.fab { font-size: .95em; margin-right: .25em; }
  }
  .navigation {
    min-height: $navigation-bar-height;
    line-height: $navigation-bar-height;
    border-bottom: 1px solid #eee;

    & > .grid-x {
      height: 100%;
    }

    .site-identity {
      height: 100%;
      img {
        max-height: 50px;
        max-width: 50px;
        border-radius: 100px;
      }
    }

    a {
      color: #666;
      font-size: .9em;
      text-transform: lowercase;

      &:hover {
        color: #333;
      }
    }
  }

}

.portfolio {

  .show-for-small-only {
    .item {
      .featured-image {
        width: 100%
      }
    }
  }
}

.breadcrumbs {
  list-style: none;
}

.footer {
  color: #eee;
  background-color: #1e1e1e;
  /* text-align: center; */

  .links, .footer-message { padding-left: 1em; padding-right: 1em; }

  .links {
    display: block;
    font-size: .9em;
    background-color: #222;
    padding-top: 1em;
    padding-bottom: 1em;
    a {
      color: inherit;
      text-align: center;
      font-size: 0.9em;
      &:not(:last-of-type) { margin-right: .5em;}
    }
  }

  .footer-message {
    font-size: .85em;
    padding-top: .75em;
    padding-bottom: .75em;
    a { color: inherit; font-size: inherit }
    i {
      font-size: .8em;
      margin: 0 .15em;
    }
    span:not(:last-of-type):after {
      font-size: .75em;
      line-height: .95em;
      content: "\2022";
      margin: 0 .25em;
    }
  }
}
