---
---

@import "variables";

html[data-theme='dark'] {

  body {
    background-color: $color-bg-primary;
    color: $color-text-primary;
  }

  code {
    color: $color-text-primary;
  }

  .highlight {
    border-color: #333;
  }

  blockquote {
    border-left-color: #333;
  }

  .navigation {
    border-bottom: 1px solid #333;
    a:hover, .sw-darkmode:hover { color: #eee; }
  }

  .breadcrumbs {
    li {
      color: #eee;
    }
  }

.footer {
  padding: 1.5em 0;

  p {
    color: #eee;
    font-size: 0.9em;
  }

  a {
    color: #89fdf7;
  }

/* TODO: Refactor below, it is difficult to understand. */
/*       ,icons -> .container -> .icon ?!               */
/*       it should be:                                  */
/*       .icons -> .container-outside -> .container-inside -> .icon */
/*       or something alike.                            */

  .icons {
    margin: 2em 0;
    .container .icon {
      background-color: transparent;
      border-radius: 50px;
      border: 1px solid #fff;
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      text-align: center;
      transition: 0.1s ease-out;
      width: 50px;

      &:hover {
        background-color: #eee;
        border-color: #eee;
        color: #333;
      }
    }
  }
}
}
