---
---

@import "variables";
@import "fonts";
@import "highlights";

body {
  background-color: transparent;
  height: 100vh;
  overflow: hidden scroll;
  scroll-behavior: smooth;
}

code {
  padding: 0;
  border: unset;
  background-color: unset;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #333;
}

.grid-container {
  max-width: 100%;
  padding: 0;
}

.limited-width {
  max-width: 1920px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.valign-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.button {
  border-radius: 15px;
  font-weight: 400;
  -webkit-transition: background 0.1s;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;

  i {
    margin-left: 0.5em;
    line-height: 1em;
    vertical-align: middle;
    color: #666;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #f8f8f8;
    color: #111;
  }
}

.navigation {
  min-height: 100px;
  line-height: 100px; // I do this because the navbar is 100px in height
  border-bottom: 1px solid #eee;

  & > .grid-x {
    height: 100%;
  }

  .site-identity {
    height: 100%;

    img {
      max-height: 70px;
      max-width: 70px;
      border-radius: 100px;
    }
  }

  a {
    color: #666;
    font-weight: 600;

    &:hover {
      color: #333;
    }
  }

  .link {
    display: block;
  }

  .toggle-darkmode {
    display: none; // TODO: Remove this line when dark mode support is complete
    i {
      color: #666;
      line-height: inherit;
    }

    .switch:before {
      font-family: "Font Awesome 5 Free", sans-serif;
      font-size: 1.75em;
    }

    .switch[data-state="off"]:before {
      content: "\f204";
    }

    .switch[data-state="on"]:before {
      content: "\f205";
      color: #00d500;
    }
  }

}

.portfolio {

  .show-for-small-only {
    .item {
      .featured-image {
        width: 100%
      }
    }
  }
}

.breadcrumbs {
  list-style: none;
}

.footer {
  color: #222;
  padding: 2.5em 0;

  .footer-message {
    font-size: .9em;
    i {
      margin: 0 .15em;
      color: #525455
    }
  }


  /* TODO: Refactor below, it is difficult to understand. */
  /*       ,icons -> .container -> .icon ?!               */
  /*       it should be:                                  */
  /*       .icons -> .container-outside -> .container-inside -> .icon */
  /*       or something alike.                            */

  .icons {
    margin: 2em 0;

    .container .icon {
      background-color: transparent;
      border-radius: 50px;
      border: 1px solid #333;
      color: #222;
      display: block;
      font-size: 20px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      text-align: center;
      transition: 0.1s ease-out;
      width: 50px;

      &:hover {
        background-color: #333;
        color: #fff;
        cursor: pointer;
      }
    }
  }


  .links {
    display: block;
    font-size: .75em;
    text-align: center;
    a {
      text-align: center;
      font-size: 0.9em;
      &:not(:last-of-type):after { content: " \2022"; margin: 0 .25em;}
    }
  }

}

@media screen and (max-width: 639px) {
  .site-identity img {
    display: block;
    margin: 1em auto 1.5em;
  }
}
