  @require '~@theme/styles/global/masonry'

  .posts
    masonry-layout(1em)

    .post
      box-shadow 0 0 12px rgba(0, 0, 0, 0.065)
      text-align center
      page-break-inside avoid

    .clickable
      color initial
      font initial

    .meta
      padding 2.5em 2em

      .date
        color #666
        font-weight 600
        font-size 0.85em

      .title
        margin-bottom 1em
        color #333
        font-weight 700
        font-size 1em
        font-family var(--font-family-primary)

        &:after
          display block
          margin 0 auto
          width 5em
          height 1em
          border-bottom 1px solid #eee
          content ' '

        .continue-reading
          padding-left 0.5em
          color #1779ba
          font-size 0.95em

  @media screen and (prefers-color-scheme dark)
    .post
      box-shadow none

      .image
        border 1px solid rgba(255, 255, 255, 0.14)
        border-bottom none

        & + .meta
          border-top-style none !important

      .meta
        border 1px solid rgba(255, 255, 255, 0.14)

        .title
          color #bcbcbc

          &:after
            border-bottom 1px solid rgba(255, 255, 255, 0.14)