// @import '@vuepress/plugin-palette/palette'

// colors
$accentColor = #3eaf7c
$accentColor_dark = lighten($accentColor, 30%)
$textColor = #2c3e50
$textColor_dark = lighten($textColor, 80%)
$borderColor = #eaecef
$borderColor_dark = #333
$codeBgColor = #282c34
$arrowBgColor = #cccacc
$tipColor = #42b983
$warningColor = #e7c000
$dangerColor = #cc0000
$badgeTipColor = $tipColor
$badgeWarningColor = $warningColor
$badgeDangerColor = $dangerColor
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 60rem
$homePageWidth = 960px
// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = 'c' 'cpp' 'cs' 'css' 'dart' 'docker' 'fs' 'go' 'html' 'java' 'js' 'json' 'kt' 'less' 'makefile' 'md' 'php' 'py' 'rb' 'rs' 'sass' 'scss' 'sh' 'styl' 'ts' 'toml' 'vue' 'yml'
// fonts
// Fallback fonts
$font-family-fallback = 'Helvetica Neue', Helvetica, Arial, 'Roboto', 'Ubuntu', sans-serif
$font-family-fallback-monospace = Consolas, Courier, 'Courier New', 'Liberation Mono', monospace
// Fonts
$font-family-text = 'Source Sans Pro'
$font-family-headings = 'Oswald', 'Source Sans Pro'
$font-family-monospace = 'Overpass Mono'
// Font Stack (which are the chosen fonts + fallback fonts)
$font-stack-text = $font-family-text, $font-family-fallback
$font-stack-headings = $font-family-headings, $font-family-fallback
$font-stack-monospace = $font-family-monospace, $font-family-fallback-monospace
// other
$contentClass = '.theme-default-content'
// from old vars
contact-bar-height = 25px
navigation-bar-height = 75px
site-header-height = contact-bar-height + navigation-bar-height
hero-height = 'calc(66vh - %s)' % site-header-height
hero-height-on-overview-pages = 'calc(30vh - %s)' % site-header-height
breakpoint-s = 0
breakpoint-m = 640px
breakpoint-l = 1024px
breakpoint-xl = 1200px
breakpoint-xxl = 1440px

:root
  --color-black #000
  --color-white #fff
  --color-almost-black #222
  --color-dark-grey #333
  --color-light-grey #eee
  --color-royal-blue #004293
  --color-prussian-blue #003153
  --color-regular-text var(--color-black)
  --color-body-background none
  /* Fonts */
  --font-family-primary font-stack-primary
  --font-family-primary-headings font-stack-primary-headings
  --font-family-primary-monospace font-stack-primary-monospace
  --font-family-secondary font-family-fallback
  /* Sizes */
  --height-contact-bar contact-bar-height
  --height-navigation-bar navigation-bar-height
  --height-site-header site-header-height
  --height-hero hero-height
  --height-hero-on-overview-page hero-height-on-overview-pages