@import '_variables'

.badge
  display inline-block
  padding 0 6px
  height 18px
  border-radius 3px
  background-color #42b983
  color white
  vertical-align top
  font-size 14px
  line-height 18px

  .table-of-contents &
    vertical-align middle

  &.tip
    background-color $badgeTipColor

  &.warning
    background-color $badgeWarningColor

  &.danger
    background-color $badgeDangerColor

  & + &
    margin-left 5px