@import '_variables'
@import 'prismjs/themes/prism-tomorrow.css'

{$contentClass}
  code
    margin 0
    padding .25rem .5rem
    border-radius 3px
    background-color rgba(27, 31, 35, .05)
    color lighten($textColor, 20%)
    font-size .85em

    .token
      &.deleted
        color #ec5975

      &.inserted
        color $accentColor

    @media screen and (prefers-color-scheme dark)
      color #6c6

{$contentClass}
  pre, pre[class*='language-']
    overflow auto
    margin .85rem 0
    padding 1.25rem 1.5rem
    border-radius 6px
    background-color $codeBgColor
    line-height 1.4

    code
      padding 0
      border-radius 0
      background-color transparent
      color #fff

  .line-number
    font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

div[class*='language-']
  position relative
  border-radius 6px
  background-color $codeBgColor

  &::before
    position absolute
    top .8em
    right 1em
    z-index 3
    color rgba(255, 255, 255, .4)
    font-size .75rem

  pre, pre[class*='language-']
    position relative
    z-index 1
    background transparent

  .highlight-lines
    position absolute
    top 0
    left 0
    padding-top 1.3rem
    width 100%
    line-height 1.4
    user-select none

    .highlight-line
      background-color rgba(0, 0, 0, 66%)

  &:not(.line-numbers-mode)
    .line-numbers
      display none

  &.line-numbers-mode
    .highlight-lines .highlight-line
      position relative

      &::before
        position absolute
        top 0
        left 0
        z-index 2
        display block
        width $lineNumbersWrapperWidth
        height 100%
        background-color rgba(0, 0, 0, 66%)
        content ' '

    pre
      margin-left $lineNumbersWrapperWidth
      padding-left 1rem
      vertical-align middle

    .line-numbers
      position absolute
      top 0
      padding-top 1.25rem
      width $lineNumbersWrapperWidth
      color rgba(255, 255, 255, .3)
      text-align center
      line-height 1.4

      br
        user-select none

      .line-number
        position relative
        z-index 3
        font-size .85em
        user-select none

    &::after
      position absolute
      top 0
      left 0
      width $lineNumbersWrapperWidth
      height 100%
      border-right 1px solid rgba(0, 0, 0, 66%)
      border-radius 6px 0 0 6px
      background-color $codeBgColor
      content ''

for $lang in $codeLang
  div[class*='language-'].ext-{$lang}
    &:before
      content '' + $lang

// narrow mobile
@media (max-width $MQMobileNarrow)
  {$contentClass}
    div[class*='language-']
      margin .85rem -1.5rem
      border-radius 0