@import '_variables'
@import 'grid/flexbox-12-column'
@import 'utilities/content-prefixes'
@import 'utilities/alignment'
@import 'fonts'

html
  overscroll-behavior none

body
  background-color var(--color-body-background)
  color var(--color-almost-black)

  & *
    outline 0

  main
    margin-top 3.6rem

    @media screen and (prefers-color-scheme dark)
      margin-top unset

.hero
  h1, h2, h3, p
    color var(--color-light-grey)

.svg-inline--fa
  width 1em
  height 1em

figure
  figcaption
    margin 1em 0
    text-align center

// dark mode styles
@media screen and (prefers-color-scheme dark)
  body
    background-color #000
    color $textColor_dark

    p, ul, li, h1, h2, h3, h4, h5, h6
      color $textColor_dark

    a
      color $accentColor_dark

  .site-header
    background-color transparent

    .contact
      background-color transparent

    .navigation
      border-bottom none

      .site-identity
        filter invert(100%)

      a
        color #eee

        &:hover
          color #28f

    & ~ *
      top 0