@import '_variables'

$navbar-vertical-padding = .7rem
$navbar-horizontal-padding = 1.5rem

.navbar
  padding $navbar-vertical-padding $navbar-horizontal-padding
  line-height: ($navbarHeight - 1.4rem)

  .logo
    margin-right .8rem
    min-width: ($navbarHeight - 1.4rem)
    height: ($navbarHeight - 1.4rem)
    vertical-align top

  .site-name
    position relative
    display none
    color $textColor
    font-weight 600
    font-size 1.3rem

  .navbar-links-wrapper
    position absolute
    top $navbar-vertical-padding
    right $navbar-horizontal-padding
    display flex
    box-sizing border-box
    padding-left 1.5rem
    white-space nowrap
    font-size .9rem

    .search-box
      flex 0 0 auto
      vertical-align top

@media screen and (max-width $MQMobile)
  .navbar
    padding-left 4rem

    .can-hide
      display none

    .navbar-links-wrapper
      padding-left 1.5rem

    .site-name
      overflow hidden
      width calc(100vw - 9.4rem)
      text-overflow ellipsis
      white-space nowrap

/**
 * navbar-links
 */
.navbar
  .navbar-links
    display inline-block

    a
      color inherit
      line-height 1.4rem

      &.router-link-active, &:hover
        color $accentColor

      @media screen and (prefers-color-scheme dark)
        .navbar-links-item.router-link-active, .navbar-links-item:hover
          color $accentColor_dark

    .navbar-links-item
      position relative
      display inline-block
      margin-left 1.5rem
      line-height 2rem

      &:first-child
        margin-left 0

  @media screen and (max-width $MQMobile)
    .navbar-links
      display none

      .navbar-links-item
        margin-left 0

  @media screen and (min-width $MQMobile)
    .navbar-links
      .router-link-active, .navbar-links-item:hover
        color $textColor

      @media screen and (prefers-color-scheme dark)
        .navbar-links
          .router-link-active, .navbar-links-item:hover
            color $accentColor_dark

    .navbar-links-item > a:not(.external)
      &.router-link-active
        margin-bottom -2px
        border-bottom 2px solid lighten($accentColor, 8%)

/**
 * toggle sidebar button
 */
.navbar
  .toggle-sidebar-button
    position absolute
    top .6rem
    left 1rem
    display none
    padding .6rem
    cursor pointer

  .toggle-sidebar-button .icon
    display block
    width 1.25rem
    height 1.25rem

  @media screen and (max-width $MQMobile)
    .toggle-sidebar-button
      display block

/**
 * dark mode
 */
@media screen and (prefers-color-scheme dark)
  .navbar
    .site-name, .navbar-links
      color #a6aabf

    .logo
      filter invert()

    .navbar-links
      a.router-link-active
        color white

      .navbar-links-item
        .dropdown-wrapper
          .dropdown-title
            color #a6aabf