$accentColor = #2c6e96
$accentColor_dark = #1779ba
$textColor = #2c3e50
$textColor_dark = #bcbcbc
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #72a8b9
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
