@import '_variables'

.sidebar
  ul
    margin 0
    padding 0
    list-style-type none

  a
    display inline-block

  .navbar-links
    display none
    padding .5rem 0 .75rem

    a
      font-weight 600

    .navbar-links-item
      display block
      padding .5rem 0 .5rem 1.5rem
      font-size 1.1em
      line-height 1.25rem

  & > .sidebar-links
    padding 1.5rem 0

    & > li > a.sidebar-link
      font-weight bold
      font-size 1.1em
      line-height 1.7

    & > li:not(:first-child)
      margin-top .75rem

@media (max-width $MQMobile)
  .sidebar
    .navbar-links
      display block

      .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after
        top calc(1rem - 2px)

    & > .sidebar-links
      padding 1rem 0

/**
 * sidebar child
 */
.sidebar-group .sidebar-group
  & > .sidebar-heading
    padding-left 2rem
    font-weight normal
    font-size .95em
    line-height 1.4
    opacity .5

.sidebar-heading
  box-sizing border-box
  margin 0
  padding .35rem 1.5rem .35rem 1.25rem
  width 100%
  border-left .25rem solid transparent
  color $textColor
  font-weight bold
  font-size 1.1em
  cursor default
  transition color .15s ease

  &.open, &:hover
    color inherit

  .arrow
    position relative
    top -.12em
    left .5em

.sidebar .sidebar-sub-headers
  padding-left 1rem
  font-size .95em

.sidebar-link
  display inline-block
  box-sizing border-box
  margin 0
  padding .35rem 1rem .35rem 1.25rem
  width 100%
  border-left .25rem solid transparent
  color $textColor
  font-weight 400
  font-size 1em
  line-height 1.4

  .sidebar-group &
    padding-left 2rem

  .sidebar-sub-headers &
    padding-top .25rem
    padding-bottom .25rem
    border-left none

    &.active
      font-weight 500

a.sidebar-heading, a.sidebar-link
  cursor pointer

  &.active
    border-left-color $accentColor
    color $accentColor
    font-weight 600

  &:hover
    color $accentColor

/**
 * dark mode
 */
@media screen and (prefers-color-scheme dark)
  .sidebar
    border-color #666666
    background-color rgba(0, 0, 0, .85)

  @media (max-width $MQMobile)
    .logo
      display none

    .sidebar-open > main
      filter blur(3px)