---
---

@import "variables";

.blog
{
  .articles
  {
    article {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      box-shadow: 0 0 12px rgba(0,0,0,0.065);

      .featured-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .meta {
        padding: 5em 2em;
      }
    }
  }
}
