---
---

@import "variables";
@import "BebasNeuewebfont.css";

.resume {
  font-size: .85em;

  ul {
    list-style: none;
    margin-left: 0;
  }

  .printable-page {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    overflow: hidden;
  }

  .hl {
    border: 1px solid #eee;
    box-sizing: border-box;
  }

  .left, .section-title {
    background-color: #222;
    color: #eee;
  }

  .right, .section-content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .section-title, .section-content {
    padding-top: 1em;
  }

  .section-content p:first-child {
    margin-top: .5em;
    margin-bottom: .25em;
  }

  .section-title h2,
  .section-content {
    &:before {
      display: block;
      content: "";
      border-top: 2px solid #eee;
      padding-top: .5em;
    }
  }

  .section-title {
    h2 {
      font-family: 'BebasNeuewebfont', 'Bebas Neue', 'Overpass ExtraBold', sans-serif;
      font-size: 1.75em;
      font-weight: 300;
      text-align: right;
      text-transform: uppercase;
      margin-right: 1em;

      &:before {
        width: 2em;
        margin: 0 0 0 auto;
        padding-top: .5em;
      }
    }
  }

  .contact-information {
    .details {
      a {
        color: unset;
      }

      span:not(:last-of-type) {
        margin-right: .75em;
      }

      span:before {
        display: inline-block;
        font-family: "Font Awesome 5 Free", sans-serif;
        font-size: .85em;
        font-weight: 700;
        margin-right: .75em;
      }

      .telephone:before {
        content: "\f095";
        transform: scaleX(-1);
      }

      .location:before {
        content: "\f3c5";
      }

      .email:before {
        content: "\f0e0";
      }

      .website:before {
        content: "\f0ac";
      }

      .linkedin:before {
        font-family: "Font Awesome 5 Brands";
        content: "\f08c";
      }
    }
  }

  .profile {
    .photo {
      display: block;
      margin: 0 auto;
      max-width: 100px;
      max-height: 100px;
      background-color: #fff;
      border-radius: 50%;
      vertical-align: middle;
    }

    .information {
      color: #333;
      padding: 2em 0;

      .name {
        font-size: 2em;
        font-weight: 600;
      }

      .function {
        font-size: .95em;
        font-weight: 300;
      }

      .contact-information {
        font-size: .95em;
        line-height: 2em;
      }
    }
  }

  .projects {
    .list {
      margin-top: 1em;

      li:not(:last-of-type) {
        margin-bottom: .75em;
      }
    }

  }

  .education {
    a {
      color: unset;
    }

    .grade, .year, .institution {
      color: #666;
    }

    .grade {
      font-size: 1.15em;
      font-weight: 700;
    }

    .year {
      font-size: .85em;
      font-weight: 600;
      text-align: right;
      padding-right: .5em;
    }

    .institution {
      font-size: .85em;
      font-weight: 700;
    }
  }

  .skills {
    .box {
      margin-top: 1em;

      &:nth-of-type(2n+1) {
        padding-right: 2em;
      }

      &:nth-of-type(n+2) {
        padding-left: 1em;
        position: relative;
        right: 1.25em;
      }
    }

    .indicator {
      .progressbar {
        height: 1em;
        margin: .5em 0 1.5em;

        &.filled {
          background-color: #333333;
        }

        &.empty {
          background-color: #d6d6d6;
          padding-right: 1em;
        }
      }
    }
  }

  .references {
    .section-title {
      height: 200px;
    }

    .reference {
      .name {
        margin-top: .5em;
        font-size: 1.1em;
        font-weight: 700;
      }

      .company {
        color: #666;
        font-size: 1em;
        font-weight: 700;
        line-height: .5em;
        margin-bottom: 1em;

        a {
          color: unset;
        }
      }

      &:nth-of-type(n+2) {
        border-left: 1px solid #eee;
        padding-left: 1em;
        position: relative;
        right: 1.25em;
      }
    }
  }

  .interests {
    display: none;

    .subjects {
      text-align: center;

      .icon {
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #d8d8d8;
        color: #222;
        display: block;
        font-size: 1.25em;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        margin: .5em auto .75em;
        text-align: center;
        transition: 0.1s ease-out;
        width: 50px;
      }

      .subject {
        font-size: .75em;
        font-weight: 400;
      }
    }
  }
}


@media print {
  .navigation, .bc, .footer {
    display: none;
  }

  .printable-page { border: unset; }

  .profile .information a, .education a, .references a {
      color: unset !important;
  }

  a, a:visited {
    text-decoration: none;
    color: #1779ba !important;
  }

  a[href]:after {
    content: none;
  }


  .left, .section-title {
    background: #222 !important; /* Thanks, Foundation. */

    * {
      color: #eee !important; /* Thanks, Foundation. */
    }

    .photo {
      background-color: #fff !important; /* Thanks, Foundation. */
    }
  }
  .skills {
    .indicator {
      .progressbar {
        &.filled {
          background-color: #333333 !important; /* Thanks, Foundation. */
        }

        &.empty {
          background-color: #d6d6d6 !important; /* Thanks, Foundation. */
        }
      }
    }
  }
}