@require '@/styles/_variables'

.services
  margin 2em auto
  max-width 1600px
  color var(--color-regular-text)

  @media screen and (max-width breakpoint-m)
    max-width 22rem

  @media screen and (max-width breakpoint-l)
    max-width 40rem

  .title
    padding 0 1em
    text-transform uppercase
    letter-spacing .003em
    font-weight 500
    font-size 1.33em
    line-height 1.5

  .cards
    .card
      display -webkit-box
      display -moz-box
      display -ms-flexbox
      display -webkit-flex
      display flex
      align-self stretch
      -webkit-flex-flow row wrap

      .service
        display flex
        text-align center

        .icon-container
          background #001037 linear-gradient(-30deg, #001037, #1e3d95)
          color var(--color-white)

          .icon
            &.fa-mouse-pointer::before
              padding-left .15em

            &.fa-code::before
              padding-right .05em

        .inner
          h3
            text-transform uppercase
            letter-spacing 0
            font-weight 900
            font-size 1em
            line-height 1.5

      @media screen and (max-width 640px)
        padding 0 1em

@media screen and (prefers-color-scheme dark)
  .services
    .cards
      .card
        color #707070

        .service
          .inner
            border none
            background-color #000 !important
            color #707070

            .icon-container
              align-items center
              box-sizing content-box
              margin-bottom 1.5em
              border 1px solid rgba(248, 248, 248, .21)
              border-radius 25%
              background none
              color #cacaca

        &:not(:last-child)
          border-right 1px solid #111