@require '@/styles/_variables'

.conclusion
  margin 5em 0 0
  padding 4em 0
  background-color #60ce9f
  background-image linear-gradient(to right, #979797, #171717), url('@/public//assets/img/site/home/winder-top-left.svg')
  background-position left top, left top -5px
  background-size cover, contain
  background-repeat no-repeat
  color #fff
  text-shadow 1px 1px 5px rgba(26, 26, 26, .33)
  background-blend-mode soft-light, normal

  @media screen and (prefers-color-scheme dark)
    margin 0
    padding 6rem 0 3rem
    background-color #000
    background-image linear-gradient(to bottom, #000, #006a3d)
    color #bdbdbd
    background-blend-mode unset

  .text-container
    text-align center

    h1, h2, h3, p
      color inherit

    .title
      margin-top 1em
      margin-bottom 0
      text-transform uppercase
      font-weight 900
      font-size 1.45em
      line-height 1em

    .subtitle
      margin .1em 0 .25em
      text-transform uppercase
      font-size 3em
      font-family $font-stack-headings

  .connect-on-social
    text-align center
    font-size 2.25em

    a
      padding 0 .33em
      color #fff
      transition color .1s ease-in-out

      @media screen and (prefers-color-scheme dark)
        color rgba(255, 255, 255, .8)

      &:hover
        color rgba(255, 255, 255, .7)
        cursor pointer

        @media screen and (prefers-color-scheme dark)
          color #7fd977