@require '@/styles/_variables'

.conclusion
  margin 5em 0 0
  padding 4em 0
  background-color var(--conclusion-background-color)
  background-image linear-gradient(to right, #979797, #171717), url('@/public//assets/img/site/home/winder-top-left.svg')
  background-position left top, left top -5px
  background-size cover, contain
  background-repeat no-repeat
  color var(--color-light-grey)
  background-blend-mode soft-light, normal

  @media screen and (prefers-color-scheme dark)
    margin 0
    padding 0 0 6em
    background-color #000
    background-image linear-gradient(to bottom, #000, #002451)
    color #bdbdbd
    background-blend-mode unset

  .text-container
    text-align center

    h1, h2, h3, p
      color inherit

    .title
      margin-top 1em
      margin-bottom 0
      text-transform uppercase
      font-weight 900
      font-size 1.45em
      line-height 1em

    .subtitle
      margin .1em 0 .25em
      text-transform uppercase
      font-size 3em
      font-family $font-stack-headings

  .connect-on-social
    text-align center
    font-size 2.25em

    a
      padding 0 .33em
      color rgba(255, 255, 255, .6)

      &:hover
        color #fff
        cursor pointer

        @media screen and (prefers-color-scheme dark)
          color #d9d677