@import url('/assets/webpack/fonts/bundle.css');
@import url('/assets/fonts/BebasNeue/BebasNeue.css');

p, a, i   { font-family: "Muli", "Overpass", Helvetica, Arial, sans-serif; font-size: .95em; font-weight: 500; }

h1, h2, h3,
h4, h5, h6 {
 font-family: "Bebas Neue", "Overpass", Helvetica, Arial, sans-serif;
}

h1              { font-size: 2em; }
h2              { font-size: 1.5em; }
h3              { font-size: 1.35em; }
h4              { font-size: 1.25em; }
h5              { font-size: 1.15em; }
h6              { font-size: 1.10em; }
h1, h2          { font-weight: 400; }
h3, h4, h5, h6  { font-weight: 200; }