//
// VARIABLES
//

// CSS3 vars
:root {
  --primary-text-color: #004293;
  --primary-background-color: none;
  --secondary-text-color: #eee;
  --secondary-bg-color: var(--primary-text-color);

  /* Fonts */
  $font-family-fallback: '"Helvetica Neue", Helvetica, Arial, "Roboto", "Ubuntu", sans-serif';
  $font-family-fallback-monospace: 'Consolas, Courier, "Courier New", "Liberation Mono", monospace';
  --font-family-primary: "Muli", "Overpass", #{$font-family-fallback};
  --font-family-primary-headings: "Bebas Neue", "Muli", #{$font-family-fallback};
  --font-family-primary-monospace: "Overpass Mono", #{$font-family-fallback-monospace};
  --font-family-secondary: #{$font-family-fallback};

  /* Sizes */
  $contact-bar-height: 25px;
  $navigation-bar-height: 75px;
  $site-header-height: $contact-bar-height + $navigation-bar-height;
  $hero-height: calc(66vh - #{$site-header-height});
  $hero-height-on-overview-pages: calc(30vh - #{$site-header-height});
  --height-contact-bar: #{$contact-bar-height};
  --height-navigation-bar: #{$navigation-bar-height};
  --height-site-header: #{$site-header-height};
  --height-hero: #{$hero-height};
  --height-hero-on-overview-page: #{$hero-height-on-overview-pages};
}

// Sizes
$contact-bar-height: 25px;
$navigation-bar-height: 75px;
$site-header-height: $contact-bar-height + $navigation-bar-height;
$hero-height: calc(66vh - #{$site-header-height});
$hero-height-on-overview-pages: calc(30vh - #{$site-header-height});

// Colors
$color-text-primary: rgb(119, 119, 119);
$color-text-secondary: lighten($color-text-primary, 20%);
$color-text-empathize: #fff;
$color-text-link: rgb(25, 137, 192);
$color-text-highlight-1: rgb(114, 142, 153);
$color-text-highlight-2: #ad9662;
$color-bg-primary: #111;
$color-bg-secondary: darken($color-bg-primary, 2%);
$color-background-primary: $color-bg-primary;
$color-background-secondary: $color-bg-secondary;
$color-text-highlight: $color-text-highlight-2;

// Default Colors
$black: #000;
$blue: #4183C4;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
