@import "./fonts/oswald/oswald.css";
@import "./fonts/source-sans/source-sans-pro.css";

for num in (1..6)
  h{num}
    font-family var(--font-family-primary)
    margin-bottom 0

for num in (2..6)
  h{num}
    font-weight 600

h1
  font-size 2em
  font-weight 500

h2
  font-size 1.5em
  border-bottom none

h3
  font-size 1.3em

h4
  font-size 1.25em

h5
  font-size 1.15em

h6
  font-size 1em

p
  font-family var(--font-family-primary)
  line-height 1.5
  font-weight 500