@import "/assets/fonts/oswald/oswald.css";
@import "/assets/fonts/source-sans/source-sans-pro.css";

p {
 font-family: var(--font-family-primary);
 line-height: 1.5;
 font-weight: 600;
 color: var(--color-almost-black);
}

h1, h2, h3,
h4, h5, h6 {
 font-family: var(--font-family-primary-headings);
 color: var(--color-almost-black);
}

h1              { font-size: 2em; }
h2              { font-size: 1.5em; }
h3              { font-size: 1.35em; }
h4              { font-size: 1.25em; }
h5              { font-size: 1.15em; }
h6              { font-size: 1.10em; }
h1, h2          { font-weight: 400; }
h3, h4, h5, h6  { font-weight: 200; }