@media screen and (prefers-color-scheme dark)
  body
    background-color #000
    color $textColor_dark

    p,
    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color $textColor_dark

    a
      color $accentColor_dark


  .site-header
    background-color transparent

    .contact
      background-color transparent


    .navigation
      border-bottom none

      .site-identity
        filter invert(100%)


      a
        color #eee

        &:hover
          color #28f

    & ~ *
      top 0

  .theme-default-content.custom
    a
      text-decoration underline 1px dotted darken(desaturate($accentColor_dark, 60%), 30%)