@import 'variables'
@import 'fonts'

html
  &[lang='en']
    figure
      figcaption
        &:before
          content 'Figure: '

  &[lang='nl']
    figure
      figcaption
        &:before
          content 'Afbeelding: '

  &[lang='de']
    figure
      figcaption
        &:before
          content 'Bild: '

body
  background-color var(--color-body-background)
  color var(--color-almost-black)

  & *
    outline 0

.grid-container
  padding 0
  max-width 100%

.limited-width
  margin 0 auto
  max-width 1920px

// Alignment of items
.text-center
  text-align center

.valign-center
  position relative
  top 50%
  transform translateY(-50%)
  -webkit-transform translateY(-50%)
  -o-transform translateY(-50%)
  -ms-transform translateY(-50%)

.hero
  h1, h2, h3, p
    color var(--color-light-grey)

.svg-inline--fa
  width 1em
  height 1em

figure
  figcaption
    margin 1em 0
    text-align center
