@import "variables";
@import "fonts";

body
  background-color var(--color-body-background)
  color var(--color-almost-black)

  & *
    outline 0


.grid-container
  max-width 100%
  padding 0


.limited-width
  max-width 1920px
  margin 0 auto


// Alignment of items

.text-center
  text-align center


.valign-center
  position relative
  top 50%
  transform translateY(-50%)
  -webkit-transform translateY(-50%)
  -o-transform translateY(-50%)
  -ms-transform translateY(-50%)


.hero
  h1,
  h2,
  h3,
  p
    color var(--color-light-grey)

.svg-inline--fa
  width 1em
  height 1em