@media screen and (prefers-color-scheme: dark)
  body
    background-color #000

    p,
    a,
    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color #bcbcbc


  .site-header
    background-color transparent

    .contact
      background-color transparent


    .navigation
      border-bottom none

      .site-identity
        filter invert(100%)


      a
        color #eee

        &:hover
          color #28f


    & ~ *
      top 0


  .breadcrumbs
    a,
    li
      color #bcbcbc