@require "../../styles/global/mixins"

masonry-layout(column-gap)
  .masonry-container
    column-count-small = 1
    column-count-medium = 2
    column-count-large = 3
    column-count-xlarge = 4
    column-count-xxlarge = 5
    padding column-gap

    .masonry-columns
      vendor-prefix("column-gap", column-gap)
      vendor-prefix("column-count", column-count-small)
      vendor-prefix("column-width", percentage(1 / column-count-small))

      @media only screen and (min-width 480px)
        vendor-prefix("column-count", column-count-medium)
        vendor-prefix("column-width", percentage(1 / column-count-medium))

      @media only screen and (min-width 640px)
        vendor-prefix("column-count", column-count-large);
        vendor-prefix("column-width", percentage(1 / column-count-large))

      @media only screen and (min-width 1920px)
        vendor-prefix("column-count", column-count-xlarge)
        vendor-prefix("column-width", percentage(1 / column-count-xlarge))

      @media only screen and (min-width 2400px)
        vendor-prefix("column-count", column-count-xxlarge)
        vendor-prefix("column-width", percentage(1 / column-count-xxlarge))

      .masonry-brick
        display block
        width 100%
        height auto
        margin column-gap 0

        &:first-child
          margin 0 0 column-gap