@import "variables";

@mixin vendor-prefix($name, $value) {
  @each $vendor in ("-webkit-", "-moz-", "-ms-", "-o-", "") {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin masonry-layout($column-gap) {
  .masonry-container {
    $column-count-small: 1;
    $column-count-medium: 2;
    $column-count-large: 3;
    $column-count-xlarge: 4;
    $column-count-xxlarge: 5;

    padding: $column-gap;

    .masonry-columns {
      @include vendor-prefix("column-gap", $column-gap);

      @include vendor-prefix("column-count", $column-count-small);
      @include vendor-prefix(
        "column-width",
        percentage(1 / $column-count-small)
      );

      @media only screen and (min-width: 480px) {
        @include vendor-prefix("column-count", $column-count-medium);
        @include vendor-prefix(
          "column-width",
          percentage(1 / $column-count-medium)
        );
      }

      @media only screen and (min-width: 640px) {
        @include vendor-prefix("column-count", $column-count-large);
        @include vendor-prefix(
          "column-width",
          percentage(1 / $column-count-large)
        );
      }

      @media only screen and (min-width: 1920px) {
        @include vendor-prefix("column-count", $column-count-xlarge);
        @include vendor-prefix(
          "column-width",
          percentage(1 / $column-count-xlarge)
        );
      }

      @media only screen and (min-width: 2400px) {
        @include vendor-prefix("column-count", $column-count-xxlarge);
        @include vendor-prefix(
          "column-width",
          percentage(1 / $column-count-xxlarge)
        );
      }

      .masonry-brick {
        display: block;
        width: 100%;
        height: auto;
        margin: $column-gap 0;
        &:first-child {
          margin: 0 0 $column-gap;
        }
      }
    }
  }
}
