.service
  text-align center

.service .inner
  margin 1em
  padding 2em
  border 1px solid #eee
  background-color #fff
  box-shadow 3px 3px 9px rgba(0, 0, 0, .05)

.icon-container
  display flex
  align-items center
  margin 0 auto 1em
  width 75px
  height 75px
  border-radius 50px
  background-color #efefef

.icon-container .icon
  display block
  margin 0 auto
  text-align center
  font-size 35px
  line-height 75px