@require '../../../styles/_variables'

.success-stories
  margin 8em auto
  padding 0 2em
  max-width 1024px

  .card
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    margin 0 auto
    -webkit-flex-flow row wrap

    @media screen and (max-width breakpoint-l)
      max-width 32rem

  .title
    text-transform uppercase
    font-weight 500
    font-size 2em

  h2
    margin-bottom 3em
    font-weight 400
    font-family $font-stack-text

  .success-story
    display flex
    text-align center
    justify-self stretch

    p
      margin 0

    .client
      margin-bottom .5em
      font-size 1.15em

    .position
      margin-bottom 1em
      color #666
      font-weight 600
      font-size .85em

    .caption
      font-size .9em