
.polaroid-container
  margin .5em 0
  border 1px solid #eee
  background-color #fff
  box-shadow 2px 2px 11px 0 rgba(50, 50, 50, .08)

  .photo-container
    &.outside
      padding 8% 8% 0

      .inside
        width 100%
        height auto
        background-position center
        background-size cover
        background-repeat no-repeat
        box-shadow inset 2px 2px 2px 0 rgba(50, 50, 50, .11)

        .photo
          position relative
          z-index -1
          visibility hidden
          width 100%
          height auto

  .caption
    margin 1.33em 0 1.5em
    text-align center