---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/blog-basic.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/blog-basic-dark.css">

<section class="blog">
    <div class="grid-x">
        <div class="small-offset-1 small-10 large-offset-2 large-8 cell">
            {% include breadcrumbs.html %}
            <section class="articles">
                {{ content }}
            </section>
        </div>
    </div>
</section>