<section class="about" title="Information about Ricardo" tabindex="0">
    <div class="grid-x">
        <div class="small-12 medium-12 large-offset-2 large-8">
            <div class="grid-x">
                <div class="small-offset-1 small-10 medium-offset-1 medium-10 large-offset-0 large-12 cell">
                    <div class="grid-x grid-padding-x">
                        <h1 class="small-12 medium-12 large-12 cell">A litte bit more about me&hellip;</h1>
                        <h2 class="small-12 medium-12 large-12 cell">What I love &amp; What I do</h2>

                        <div class="small-12 medium-6 large-6 cell">
                            <p>I'm a graphic designer, front-end developer and tech writer. I've been a graphic design student at HAN University of Applied
                                Sciences and I graduated in February, 2019.</p>
                            <p class="show-for-medium">I love typographic design, 3D modeling, photography,
                                making videos, motion graphics and doing creative things with graphics. In addition to that I'm also interested in web
                                development, setting up Linux servers & creating games in Unity.
                            </p>
                        </div>

                        <div class="small-12 medium-6 large-6 cell">
                            <p class="show-for-medium">
                                Knowing that I both love graphic design and tech stuff, I chose to become a front-end developer. A front-end developer builds websites according to a design created by a web designer. It's exactly on the edge of design and tech.
                            </p>

                            <p>
                                On my <a href="#blog-overview" aria-hidden="true">blog</a>, you could learn more about the things I'm doing. There's also a <a href="#portfolio-overview" aria-hidden="true">portfolio</a>, showing an overview of projects I've worked on.
                            </p>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 medium-6 large-3 cell">
                            <a href="#blog-overview" class="button transparent" title="Overview of latest blog articles">
                                Read my blog
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>