<section class="main">
    <div class="grid-x">
        <div class="small-12 medium-12 large-offset-2 large-8">
            <div class="grid-x">
                <div class="small-offset-1 small-10 medium-offset-1 medium-10 large-offset-0 large-12 cell">
                    <div class="grid-x grid-padding-x">
                        <h1 class="small-12 medium-12 large-12 cell">Work could be both stress and
                            fun</h1>
                        <h2 class="small-12 medium-12 large-12 cell">Let me take care of the
                            stress, let you have the fun</h2>

                        <div class="small-12 medium-6 large-6 cell">
                            <p>I am a graphic design student at the HAN University of Applied
                                Sciences.</p>
                            <p>I love typographic design, 3D modeling, photography,
                                making videos, motion graphics and doing creative things with sound & music.
                            </p>
                        </div>

                        <div class="small-12 medium-6 large-6 cell">
                            <p>In addition to graphical design I also have fascination for web
                                development, setting up Linux servers & creating games in
                                Unity.</p>
                            <p>I am currently graduating at <a
                                    href="https://vormkracht10.nl/?ref=ellipticcurv3">Vormkracht10</a>.
                            </p>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 medium-6 large-3 cell"><a href="#works"
                                                                       class="button transparent">See
                            my
                            works <i
                                    class="fa fa-angle-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>