<section class="photos">
    <div class="grid-x">
        <h1 class="small-12 cell text-center section-title">Photography &amp; Film</h1>
        <div class="small-offset-1 small-10 medium-10 large-10 cell">
            <div class="grid-x">
                {% for photo in site.photography %}
                {% if photo.image %}
                <article class="photo">
                <div class="small-12 medium-6 large-4 cell">
                    <div class="grid-x">
                        <div class="small-12 cell featured-image"><a href="{{ site.baseurl }}{{ photo.url }}">
                            <div class="image-container" style="background-image: url('{{ photo.image }}')"></div>
                        </a>
                        </div>
                        <h1 class="small-12 cell title">{{ photo.title }}</h1>
                        <p class="small-12 cell">{{ photo.excerpt }}</p>
                    </div>
                </div>
                </article>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>