<div class="portfolio">
    <div class="show-for-medium">
        {% assign projects = site.portfolio | sort: 'date' | reverse %}
        {% for project in projects | limit: 3 %}
        {% capture image %}{% if item.image %}{{site.baseurl}}{{ item.image }}{% else %}https://placehold.it/500x500?text=Missing%20an%20image{% endif %}{% endcapture %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="item">
            <div class="grid-x">
                <div class="medium-6 large-6 cell">
                    <div class="grid-x">
                        <div class="small-offset-1 small-10 medium-12 large-10 cell information">
                            <h1 class="client">{{ project.client }}</h1>
                            <h2 class="title">{{ project.title }}</h2>
                            <p class="story">{{ project.excerpt }}</p>
                        </div>
                    </div>
                </div>
                <img class="small-12 medium-6 large-6 cell" src="{{ image }}" alt="">
            </div>
        </div>
        {% else %}
        <div class="item">
            <div class="grid-x">
                <img class="small-12 medium-6 large-6 cell" src="{{ image }}" alt="">
                <div class="medium-6 large-6 cell">
                    <div class="grid-x">
                        <div class="small-offset-1 small-10 medium-12 large-10 cell information">
                            <h1 class="client">{{ project.client }}</h1>
                            <h2 class="title">{{ project.title }}</h2>
                            <p class="story">{{ project.excerpt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="show-for-small-only">
        {% for project in projects | limit: 3 %}
        <div class="item">
            <div class="grid-x">
                <div class="small-offset-1 small-10 medium-offset-2 medium-8 large-6 cell">
                    <div class="grid-x">
                        <div class="large-offset-1 small-12 medium-12 large-10 cell information">
                            <h1 class="client">{{ project.client }}</h1>
                            <h2 class="title">{{ project.title }}</h2>
                            <p class="story">{{ project.excerpt }}</p>
                        </div>
                    </div>
                </div>
                <img src="{{ image }}" alt="" class="featured-image">
            </div>
        </div>
        {% endfor %}
        <p class="text-center">Head over to my <a href="/portfolio">portfolio</a> for more...</p>
    </div>
</div>