  .breadcrumbs
    font-size .8em
    margin 0
    margin-bottom 1rem
    text-transform uppercase
    list-style none

    a
      font-size inherit

      &:last-of-type
        color #000
        @media screen and (prefers-color-scheme dark)
          color #bcbcbc

      &:not(:last-of-type):after
        color #444
        display inline-block
        content "\2013"
        padding 0 .25em