.dropdown-wrapper
  cursor pointer

  .dropdown-title
    display block
    padding inherit
    border none
    background transparent
    color $textColor
    font-weight 500
    font-size 0.9rem
    font-family inherit
    line-height 1.4rem
    cursor inherit

    &:hover
      border-color transparent

    .arrow
      margin-top -1px
      margin-left 0.4rem
      vertical-align middle

  .nav-dropdown
    .dropdown-item
      color inherit
      line-height 1.7rem

      h4
        margin 0.45rem 0 0
        padding 0.45rem 1.5rem 0 1.25rem
        border-top 1px solid #eee

      .dropdown-subitem-wrapper
        padding 0
        list-style none

        .dropdown-subitem
          font-size 0.9em

      a
        position relative
        display block
        margin-bottom 0
        padding 0 1.5rem 0 1.25rem
        border-bottom none
        font-weight 400
        line-height 1.7rem

        &:hover
          color $accentColor

        &.router-link-active
          color $accentColor

          &::after
            position absolute
            top calc(50% - 2px)
            left 9px
            width 0
            height 0
            border-top 3px solid transparent
            border-bottom 3px solid transparent
            border-left 5px solid $accentColor
            content ''

      &:first-child h4
        margin-top 0
        padding-top 0
        border-top 0

@media (max-width $MQMobile)
  .dropdown-wrapper
    &.open .dropdown-title
      margin-bottom 0.5rem

    .dropdown-title
      font-weight 600
      font-size inherit

      &:hover
        color $accentColor

    .nav-dropdown
      overflow hidden
      transition height 0.1s ease-out

      .dropdown-item
        h4
          margin-top 0
          padding-top 0
          border-top 0

        h4, & > a
          font-size 15px
          line-height 2rem

        .dropdown-subitem
          padding-left 1rem
          font-size 14px

@media (min-width $MQMobile)
  .dropdown-wrapper
    height 1.8rem

    &:hover .nav-dropdown, &.open .nav-dropdown
      // override the inline style.
      display block !important

    &.open:blur
      display none

    .dropdown-title .arrow
      border-top 6px solid $arrowBgColor
      border-right 4px solid transparent
      border-bottom 0
      // make the arrow always down at desktop
      border-left 4px solid transparent

    .nav-dropdown
      position absolute
      top 100%
      right 0
      display none
      overflow-y auto
      box-sizing border-box
      margin 0
      padding 0.6rem 0
      max-height calc(100vh - 2.7rem)
      // Avoid height shaked by clicking
      height auto !important
      border 1px solid #ddd
      border-bottom-color #ccc
      border-radius 0.25rem
      background-color #fff
      text-align left
      white-space nowrap