$navbar-vertical-padding = 1rem
$navbar-horizontal-padding = 1rem

.navbar
  position fixed
  top 0
  right 0
  left 0
  z-index 20
  box-sizing border-box
  padding $navbar-vertical-padding $navbar-horizontal-padding
  height $navbarHeight
  background-color rgba(255, 255, 255, 0.95)
  transition background-color 0.5s ease-in

  @media screen and (prefers-color-scheme dark)
    background-color transparent

  &.page-scrolled
    background-color #fff

    @media screen and (prefers-color-scheme dark)
      background-color #000

  .search-box
    position relative
    bottom 5px
    display inline-block
    margin-right initial
    margin-left 2em

  input
    left 0
    min-width 10rem
    border-color #666
    background transparent url('/assets/img/search.83621669.svg') 0.6rem 0.5rem no-repeat
    color #eee

    &:focus
      width 10rem
      border-color #eee
      background rgba(0, 0, 0, 0.5) url('/assets/img/search.83621669.svg') 0.6rem 0.5rem no-repeat

  .suggestions
    top 2.5rem
    right 0
    width 30rem

  a, span, img
    display inline-block

  .site-logo
    position absolute // TODO: Fix this
    top 0.75em // TODO: Fix this
    margin-right 0.8rem
    min-width: $navbarHeight - 1.4rem
    height: $navbarHeight - 1.4rem
    vertical-align top
    fill #1d1d1b

    @media screen and (prefers-color-scheme dark)
      fill #ccc

.site-name
  position relative
  color $textColor
  font-weight 600
  font-size 1.3rem

  &.can-hide
    display none

.links
  position absolute
  top $navbar-vertical-padding
  right $navbar-horizontal-padding
  display flex
  box-sizing border-box
  padding-left 1.5rem
  color #333
  white-space nowrap
  font-size 0.9rem

  @media screen and (prefers-color-scheme dark)
    color #eee

  .nav-links a, .nav-links .dropdown-title
    text-transform uppercase
    font-weight 700
    font-size 0.9em

  .search-box
    flex 0 0 auto
    vertical-align top

@media (max-width $MQMobile)
  .navbar
    .can-hide
      display none

    .links
      padding-left 1.5rem

    .site-name
      overflow hidden
      width calc(100vw - 9.4rem)
      text-overflow ellipsis
      white-space nowrap