@require '../styles/wrapper.styl'

.page-nav
  @extend $wrapper
  padding-top 1rem
  padding-bottom 0

  .inner
    overflow auto // clear float
    margin-top 0
    padding-top 1rem
    min-height 2rem
    border-top 1px solid $borderColor

  .next
    float right