@require '../styles/wrapper.styl'

.page-edit
  @extend $wrapper
  overflow auto
  padding-top 1rem
  padding-bottom 1rem

  .edit-link
    display inline-block

    a
      margin-right 0.25rem
      color lighten($textColor, 25%)

  .last-updated
    float right
    font-size 0.9em

    .prefix
      color lighten($textColor, 25%)
      font-weight 500

    .time
      color #aaa
      font-weight 400

@media (max-width $MQMobile)
  .page-edit
    .edit-link
      margin-bottom 0.5rem

    .last-updated
      float none
      text-align left
      font-size 0.8em