.sidebar .sidebar-sub-headers
  padding-left 1rem
  font-size 0.95em

a.sidebar-link
  display inline-block
  box-sizing border-box
  padding 0.35rem 1rem 0.35rem 1.25rem
  width 100%
  border-left 0.25rem solid transparent
  color $textColor
  font-weight 400
  font-size 1em
  line-height 1.4

  &:hover
    color $accentColor

  &.active
    border-left-color $accentColor
    color $accentColor
    font-weight 600

  .sidebar-group &
    padding-left 2rem

  .sidebar-sub-headers &
    padding-top 0.25rem
    padding-bottom 0.25rem
    border-left none

    &.active
      font-weight 500